/*body {*/
/*    background-image: url("../src/greenSoccer.jpg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    height: 100%;*/
/*}*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.leagueDetail a {
    color: white;
}

#cupName {
    text-align: center;
    padding: 1%;
}

.matchTable th, td {
    text-align: center;
}

.teamCell {
    width: 38%;
}

.scoreCell {
    width: 8%;
}

.cardIconCell {
    width: 4%;
}

#scorer {
    white-space: pre
}

.matchTypeTitle {
    text-align: center;
    padding: 2%;
}

.cardImage {
    cursor: pointer;
}

/* Player table */

.playerIndexCell {
    width: 5%;
}

.playerNumberCell {
    width: 5%;
}

.playerNameCell {
    width: 50%;
}

.playerGoalsCell {
    width: 20%;
}

#playersTable th {
    text-align: center;
}
/*------------------*/

/* Admin page table */

#adminPageTable {
    background-image: url("../src/soccerManagerTableBackground.jpg");
    margin: 2% 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 10px 6px 20px 0 rgba(0, 0, 0, 5);
    border-radius: 15px;
    opacity: 0.9;
}

#adminPageTable h1, th, td {
    border: greenyellow;
    color: white;
    text-align: center;
    margin: 3% 0;
}

.adminPageIndex {
    width: 5%;
}

.adminPageUsername {
    width: 20%;
}

.adminPageRole {
    width: 20%;
}

.adminPageTeam {
    width: 20%;
}

/*------------------*/

#cupGroupTables {
    overflow: auto;
}

#leftTable {
    margin: 1%;
    width: 40%;
    float: left;
}

#rightTable {
    margin: 1%;
    width: 40%;
    float: right;
}

#playerName, #playerCard {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* SignIn - SignUp */

.signContainer {
    margin: auto;
    width: 50%;
    background-image: url("./soccerManagerTableBackground.jpg");
    border-radius: 20px;
}

.signContainer h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.signContainer label {
    color: white;
    padding: 2% 1% 1%;
    font-size: 1.7em;
}

.signContainer .form-group {
    margin: auto;
    width: 50%;
}

.signContainer .signActionButtons {
    margin-top: 4%;
    padding-bottom: 2%;
}

.error {
    background: wheat;
    color: red;
}

/* ContentList */

.contentList {
    margin: 7% auto auto;
    width: 50vw;
    /*height: 50%;*/
}

.contentList h1 {
    margin-bottom: 0;
    padding: 1.2%;
    width: fit-content;
    color: white;
    background-image: url("./soccerManagerTableBackground.jpg");
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.addButton {
    background-image: url("./soccer-background-purple.jpg");
    border: none;
}

.contentListRow {
    border: none;
    /*background-image: url("./soccerManagerTableBackground.jpg");*/
    background: url("./soccer-background-red.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 1%;
    opacity: 0.8;
}

.league, .cup, .team {
    font-size: 1.7em;
    color: white;
    width: 50%;
}

#leaguesList, #cupsList, #teamList {

}