.App {
    background-image: url('../src/soccerManagerBackground2.jpg');
    /*height: 100vh;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.leagues {
    float: left;
}

.leagueDetail a {
    color: white;
}

#cupName {
    color: ghostwhite;
    text-align: center;
    padding: 1%;
}

.matchTable th, .matchTable td {
    text-align: center;
    color: whitesmoke;
}

.matchTable th {
    background: #111111;
    font-size: 1.5em;
}

.matchTable td {
    background-image: url("soccerManagerTableBackground.jpg");
    font-size: 1.1em;
}

#groupMatches, #semiFinalMatches, #finalMatches {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: 90%;
}

.teamCell {
    width: 33%;
}

.scoreCell {
    width: 8%;
}

.cardIconCell {
    width: 4%;
}

#scorer {
    white-space: pre
}

.matchTypeTitle {
    color: whitesmoke;
    background: darkgreen;
    text-align: center;
}

.matchTypeTitle:hover {
    cursor: pointer;
}

.cardImage {
    cursor: pointer;
}

.playerIndexCell {
    width: 5%;
}

.playerNumberCell {
    width: 5%;
}

.playerNameCell {
    width: 50%;
}

.playerGoalsCell {
    width: 20%;
}

#playersTable th {
    text-align: center;
}

#cupGroupTables {
    overflow: auto;
}

#leftTable {
    margin: 1%;
    width: 40%;
    float: left;
}

#rightTable {
    margin: 1%;
    width: 40%;
    float: right;
}